.search {
  padding: 8rem 0;
}
.search input {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  width: 300px;
  background-color: #1f1f1f;
  color: #fff;
  font-size: 1rem;
}

.search select {
  border: none;
  outline: none;
  padding: 9px;
  border-radius: 5px;
  background-color: #1f1f1f;
  color: #fff;
  font-size: 1rem;
  margin-left: 20px;
}
